/* You can add global styles to this file, and also import other style files */

/* Body'ye footer için padding ekle */
body {
  margin: 0;
  padding: 0;
  padding-bottom: 400px; /* Footer yüksekliği kadar alan bırak */
  box-sizing: border-box;
}

html {
  height: 100%;
}
