/* You can add global styles to this file, and also import other style files */

/* Body global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* Sign sayfası dışındaki sayfalar için padding */
body:not(.sign-page) {
  padding-top: 64px; /* Header yüksekliği kadar alan bırak */
  padding-bottom: 400px; /* Footer yüksekliği kadar alan bırak */
}

html {
  height: 100%;
}
